<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="myAppSettings" type="ConsoleApp1.MyAppSettings,ConsoleApp1"/>
	</configSections>
	
	<myAppSettings>
		<traceOption enabled="true"
								 filePath="C:\MyApp\Trace.log"
								 bufferSize="10240"
		/>
	</myAppSettings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>	
</configuration>